html, body {
  margin: 0;
  display: table;
  height: 100%;
  width: 100%;
}

.wrapper {
  padding: 20px;
  height: auto;
}

footer {
  background-color: slategray;
  display: table-row;
  height: 1px;
}
